.panel {
  border-radius: 3px;
  background: #dfe3e6;
  width: 212px;
  overflow: hidden;
  margin-right: 12px;
  &__title {
    padding: 12px 12px 0 12px;
    display: flex;
    justify-content: space-between;
    img{
      cursor: pointer;
      width: 12px;
    }
  }
  &--empty {
    .add-form {
      margin-top: 12px;
    }
  }
  &__items {
    padding: 12px 12px 0 12px;
    overflow: scroll;
    max-height: 75vh;
  }
}
