body {
  background-image: url('static/img/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 14px;
}
* {
  outline: none;
}
button,
textarea {
  font-size: 14px;
}
